img {
    width: 35%;
    height: auto;
    text-align: center;
  }

  h1{
    color: white;
    /* background-color: #0080FF; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
  }

h2{
    color: white;
    background-color: #0080FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
}

  h3{
    color: #0080FF;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight:small;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
  }

  h4{
    color: #0080FF;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
        line-height: normal;
    letter-spacing: 2px;
    text-align: left;
  }

  h5{
    color: #0080FF;
    background-color: #b5daff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
     line-height: normal;
    letter-spacing: 2px;
    text-align: left;
  }
  h6{
    color: darkgrey
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
  }
  body{
    color: #000080;
background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: x-small;
    line-height: normal;
 
  }

  .bluebg {
   background-color:#0080FF; 
     background-position: left;
     height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
    text-align: justify;
  }
  .lblue {
    background-color: white;
    background-position: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-align: justify;
  }

  .bgrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 16px;
    height: 100%;
  }
.skillsgrid{
  background-color: #b5daff;
  background-position: right;
  height: 100%;
  padding: 5px;
  text-align: left;
}

.bullet {
  {color: #0080FF}
}